<!DOCTYPE html>
<html lang="" ng-app="studentInstructorList">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studentsInstructorList</title>
    
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css"/>
    
    <!-- script tags -->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="../bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../bower_components/fullcalendar/dist/gcal.js"></script>
    <script type="text/javascript" src="studentsIntstructorList.js"></script>
</head>

<body ng-controller="mainController">
   <table class="table">
      <thead>
            <tr>
                <th>Examiners</th>
                <th>Next Availability</th>
                
           </tr>
      </thead>
      <tbody>
       <tr ng-repeat="instructor in instructorsList track by $index">
        <td id="instructorFirstName">{{instructor.userData.firstName}}</td>
        <td id="instructorLastName">{{instructor.userData.lastName}}</td>
        <td><button ng-click="scheduleButton($index)">Schedule</button></td>
      </tr>
      
       </tbody>
   </table>
</body>
</html>
