<form name="userForm">
	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-md>
			<label>First name</label>
			<input ng-model="user.name.first">
		</md-input-container>

		<md-input-container class="md-block" flex-gt-md>
			<label>Last Name</label>
			<input ng-model="user.name.last">
		</md-input-container>
	</div>

	<div layout-gt-sm="row">
		<md-input-container class="md-block" flex-gt-md>
			<label>Email Address</label>
			<input ng-model="user.emailAddress"/>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-md>
			<label>Phone Number</label>
			<input type="tel" ng-model="user.phone">
		</md-input-container>
	</div>
	
	<div layout-gt-sm="row">
		<div layout="column" flex>
			<md-input-container class="md-block" flex-gt-md>
				<input placeholder="Profile Picture (url)" type="url" ng-model="user.photoUrl">
			</md-input-container>
		</div>
		<div layout="column" flex="20">
			<div layout-padding>
				<img 
				src="{{user.photoUrl}}" 
				width="100%" 
				class="md-avitar" 
				style="border-radius:15px;"/>
			</div>
		</div>
	</div>

	<div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
			<label>Address</label>
			<input ng-model="user.address.address">
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>City</label>
			<input ng-model="user.address.city">
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>State</label>
			<input ng-model="user.address.state">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>zipcode</label>
			<input ng-model="user.address.zipcode">
		</md-input-container>
	</div>

	<div layout-gt-sm="row">  
		<md-input-container  class="md-block" flex-gt-sm>
			<label>Old Password</label>
			<input ng-model='oldPassword'>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>New Password</label>
			<input ng-model="newPassword">
		</md-input-container>
	</div>

	<md-input-container class="md-block">
		<label>Biography</label>
		<textarea ng-model="user.bio" md-maxlength="1000" rows="3">{{user.bio}}</textarea>
	</md-input-container>
</form>
