<div class="col-sm-offset-2 col-sm-6">
    <account-details></account-details>
    <div ng-show="user.role == 'examiner'">                
       <div class="row col-sm-12">
            <!-- list of airports -->
            <div class="col-sm-6">
                
                <h6> Airports</h6>
                
                <input type="text" ng-model="search.selected" placeholder="Search by Airport name" uib-typeahead="item.name for item in querySearch($viewValue)" typeahead-on-select="saveAirport($item.code)" typeahead-no-results="noResults" class="form-control">

                <ul class="list-group">
                    <li ng-repeat="arpt in airportsList" class="list-group-item">{{arpt.$id}}</li>
                </ul>
                
            </div>

            <div class="col-sm-6">
                
                <h6> Certifications</h6>
                
                <button ng-click="addCertificationModal()">Add A Certification</button>
                <!-- list of certification -->
                <ul class="list-group">
                    <li ng-repeat="cert in certificationsList" class="list-group-item">{{cert.$id}}</li>
                </ul>
                
            </div>
        </div>
    </div>
</div>

<!-- certifications Modal -->

<script type="text/ng-template" id="certificationsModal">
    <div layout="row">

         <pc-dropdown-input optionclick="null" my-label="Category" my-select="certification.category" my-list="categories"></pc-dropdown-input>   

         <pc-dropdown-input optionclick="null" my-label="Ratings" my-select="certification.rating" my-list="ratings"></pc-dropdown-input>

         <pc-dropdown-input optionclick="null" my-label="Class" my-select="certification.class" my-list="classes"></pc-dropdown-input>

        <button ng-click="saveCertification()">Save Certification</button>
        
    </div>
</script>
