.search-bg{
    background-color: #3DB9F0    ;
}

.pc-sidenav{
    background-color: #3DB9F0    ;
    height: 100% ;
}

.pc-sidenav ul{
    margin-top: 10px ;
    list-style: none ;
    font-size: 20px ;
}

.pc-sidenav ul li{
    padding:10px;
}

.pc-search-bar{
    margin-top: 10px;
}
    
.filter-input select{
    width: 150px;    
}

.header-btn{
    margin-top: 5px;
    padding-left: 10px;
}

.no-pad{
    padding: 0px;
}

.no-margin{
    margin: 0px;
}
.center-vert{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.full-ht{
    height: 100%;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: 40%;
    display: inline-block;
}
.center-nav{
    padding-top: 10px;
}

.nav-right{
    float: right;
}
.vcenter {
 position: relative;
 top: 50%;

text-align: center;
}

