<!--

<header class="nav-header" style="background-color:rgb(63,81,181);">
    <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="">

</header>

<md-content ng-hide="!examinerView" flex role="navigation">
    <ul>
        <li>
            <menu-link section="page" class="ng-isolate-scope"><a href="#/calendar" class="md-button md-ink-ripple">Calendar</a></menu-link>
        </li>
        <li>
        <li>
            <menu-link><a ng-href="#/examiner/messages" href="#/calendar" class="md-button">Messages</a></menu-link>
        </li>
        <li>
            <menu-link><a ng-href="#/examiner/profile" href="#/calendar" class="md-button">Profile</a></menu-link>
        </li>
    </ul>
</md-content>

<md-content ng-hide="!studentView" flex role="navigation">
    <ul>
        <li>
            <menu-link section="page" class="ng-isolate-scope"><a href="#/calendar" class="md-button md-ink-ripple">asdf</a></menu-link>
        </li>
        <li>
            <menu-link><a ng-href="#/examiner/messages" href="#/calendar" class="md-button">Messafdages</a></menu-link>
        </li>
        <li>
            <menu-link><a ng-href="#/examiner/profile" href="#/calendar" class="md-button">Profisadfle</a></menu-link>
        </li>
    </ul>
</md-content>
-->
