<header class="nav-header" style="background-color:rgb(63,81,181);">
    <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="">

</header>

<md-content flex role="navigation">
    <ul>
        <li>
            <menu-link section="page" class="ng-isolate-scope"><a href="#/calendar" class="md-button md-ink-ripple">Calendar</a></menu-link>
        </li>
        <li>
            <menu-link><a ng-href="#/messages" href="#/calendar" class="md-button">Messages</a></menu-link>
        </li>
        <li>
            <menu-link><a ng-href="#/profile" href="#/calendar" class="md-button">Profile</a></menu-link>
        </li>
    </ul>
        <!--
        <md-list-item ng-click="calendar()">Calendar</md-list-item>
        <md-list-item ng-click="messages()">Messages</md-list-item>
        <md-list-item ng-click="profile()">Profile</md-list-item>-->
</md-content>