/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
//@import "bootstrap";
@import "compass/css3";
@import "compass/utilities";

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


img.cr-logo,
.cr-logo img{
    width: auto;
    height: auto;
    display: block;
    transform-origin: 0 43%;
    transform: scale(.4); 
}



.pc-search-box-wrapper{

    h1,
    h2,
    h3{
        color:#FFF;
        font-weight:normal;
        text-align:center;
    }
}


.pc-capitalize{
    text-transform:capitalize;
}

.pc-img-rounded{
  @include border-radius(3px);
}




//DEV CLASSES
.red { background: red; }
.blue {background: blue; }
.green { background: green; }
.orange {background: orange; }
.grey { background: grey; }
.purple { background: purple; }
.yellow { background: yellow; }


.hide{
  display: none;
}
#detailsModal{
  height: 200px;
  overflow: scroll ;
}
.setColor{
  background-color: #FFF;
}

.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd;
}


.pc-message{
  
  .pc-msg-wrapper{
    display:block;
    overflow:hidden;
  }
  .pc-msg-time{
    text-align:center;
    font-size: 1em;
    color:#CCC;
    clear:both;
    width:100%;
    margin: 20px auto 0;
    border-top: solid 1px #DDD;
    display:block;
  }

  .pc-msg-sender{
    font-size: .5em;
  }

  .pc-msg-body{
    
  }
  
  .me,
  .them{
    padding: .5em 1em;
    @include border-radius(5px);
  }

  .me{
    text-align:right;
    float:right;
    background: #66BB6A;
  }

  .them{
    text-align: left;
    float: left;
    background:#D0D0D0;
  }
  
}
