<!DOCTYPE html>
<html lang="" ng-app="instructorList">
<head>

</head>

<body>
<!--    <cr-search></cr-search>-->
      <input type="text" ng-model="searchBox" id="airportSearch" placeholder="search airport">
      <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
          
              <tbody>
                <tr ng-repeat="user in vm.examiners">
                  <td>{{user.name}}</td>
                  <td>{{user.name}}</td>
                  <td></td>
                  <td><button ng-click="vm.viewProfile(user)">Schedule</button></td>
                </tr>
             </tbody>
        </table>           
</body>
</html>
<!--| filter: searchBox: user.userData.airports-->