<!DOCTYPE html>
<html lang=""ng-app="instructorAvailability">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examiner Profile</title>

</head>
    <style>
        .showing{
            display: block;
        }
    </style>
<body>  
        <!-- comes from studentDirective in studentDirectives.js -->
        <student-header></student-header>
        <h1 ng-model="studentName">{{studentName}}</h1>
    
        <button ng-click="goBack()">Back to profile</button>
    
        <div class="calendar" ng-model="eventSources" id="cal" data-ui-calendar="uiConfig.calendar"></div> 
      

</body>
</html>