<!DOCTYPE html>

<body>
   <examiner-navbar></examiner-navbar> 
   <h2>Upcoming Appointments</h2>
     <table class="table">
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="appt in approvedApptsList track by $index">
              <td>{{appt.firstName +" " + appt.lastName}}</td>
              <td>{{appt.start}}</td>
              <td>{{appt.end}}</td>
            </tr>
          </tbody>
    </table>
</body>
</html>
