<!DOCTYPE html>
<html lang="" ng-app='examinerInfo'>
<head>

</head>
<style>
    #sidebar{
        display: inline-block;
        width: 10%;
    }
    .showing{
        display: block;
    }
    </style>

<body>
  
  <div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Info">
        <md-content class="md-padding">
            <h1 ng-model="vm.examinerName">{{vm.examinerName}}</h1>
               <md-list>
                 <label>Certifications</label>
                  <md-list-item ng-repeat="cert in vm.certificationsList"> 
                        <h5>{{cert.title}}</h3>
                   </md-list-item>
                </md-list>

               <md-list>
                 <label>Airports</label>
                  <md-list-item ng-repeat="apt in vm.airportList"> 
                        <h5>{{apt.name}}</h3>
                   </md-list-item>
                </md-list>   
        </md-content>
      </md-tab>
      
      <md-tab label="Schedule">
        <md-content class="md-padding">
         <viewing-cal></viewing-cal>
        </md-content>
      </md-tab>
    </md-tabs>
    
  </md-content>
</div>
</html>
