<div class="col-md-6 col-md-offset-3 form-group-lg" ng-controller="UserServices">
   
   
   <div class="alert" ng-class="{'alert-success': message, 'alert-danger': error}" role="alert">
       {{error}}
       {{message}}
    </div>
   
    <h1 class="text-center">Create your free account</h1>
     <div id="name" class="form-group">
         <label>Name</label> 
            <div class="form-inline">
                 <input type="text" placeholder="First" ng-model="firstName" class="form-control">
                 <input type="text" placeholder="Last" ng-model="lastName" class="form-control">
             </div>
    </div>
    
    <div class="form-group">
        <label for="">Email Address</label>
        <div class="input-group has-error">
            <span class="input-group-addon"><b>@</b></span>
            <input type="email" placeholder="Email Address" ng-model="email" class="form-control">
        </div>
         
     </div>
    
    <div class="form-group has-error">
        <label for="">Password</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-option-horizontal"></span></span>
         <input type="password" placeholder="Password" ng-model="password" class="form-control">
        </div>
         
     </div>
     
     <div class="form-group">
        <label>phone number</label>
         <input type="text" placeholder="phone number" ng-model="phone" class="form-control">
     </div>
     
     <div class="form-group">
       <label for="">I am a...</label>
        <select ng-model="userType" class="form-control">
            <option>Examiner</option>
            <option>Student</option>
            <option>Admin</option>
        </select>
    </div>
<!--
     <div>
        <h2>Account type</h2>
         <input type="text" placeholder="accountType" ng-model="accountType">
     </div>    
-->
    <div class="form-group text-center">
        <button ng-click="create()" class="btn btn-success btn-lg">Create Account</button>
    </div>
         
</div>


