<!DOCTYPE html>
<html>

<style>
    .hide{
        display: none;
    }
    #detailsModal{
        height: 200px;
        overflow: scroll ;
    }
    .setColor{
        background-color:red;

    }
    
    .toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }
    </style>

<body>
  <div layout-gt-sm="row" layout="column">
      <div flex-gt-sm="50" flex>
      <md-toolbar class="md-primary md-whiteframe-z1" md-scroll-shrink>
          <div class="md-toolbar-tools">
            <span>Normal</span>
          </div>
        </md-toolbar>
        
        <md-content >
          <md-list flex>
            <md-list-item ng-click="msg.viewConvoMessages(convo)" class="md-3-line" ng-repeat="convo in msg.conversationsList" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h3 >{{convo.$id}}</h3>
              </div>
            </md-list-item>
          </md-list>
            <md-button class="md-raised md-primary" ng-click="msg.op()">Send Message</md-button>   
        </md-content>
      </div>
      
      <md-divider></md-divider>
  

         
<div flex-gt-sm="row" flex>
 <md-content>
      <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
          <h3>
            <span>banners</span>
          </h3>
        </div>
      </md-toolbar>

        <md-list flex scroll-y="true">
          <md-list-item class="md-3-line"ng-repeat="cv in msg.convo">
            <div class="md-list-item-text">
              <h3>{{cv.sender}}</h3>
              <h4>{{cv.body}}</h4>
            </div>
            <md-divider inset></md-divider>
          </md-list-item>
           <textarea id="message"></textarea>
        </md-list>
 </md-content>
  
</div>



<!--
  <md-content flex>
    <md-list>
       <md-list-item ng-click="msg.viewConvoMessages(convo)" class="md-3-line" ng-repeat="cv in msg.convo" ng-click="null">
        <div class="md-list-item-text">
          <h3 >{{cv.sender}}</h3>
          <h3>{{cv.subject}}</h3>
          <h4>{{item.body}}</h4>

        </div>
        <md-divider inset></md-divider>
      </md-list-item>

    </md-list>

  </md-content>
-->

<!--<send-message-modal></send-message-modal>-->
<!--

       <h2 id="as">Messages</h2>
       <md-button class="md-raised md-primary" ng-click="msg.op()">Send Message</md-button>   
       
        <div>
         <table class="table" ng-show="!msg.view" id="convoView">
              <thead>
                <tr>
                  <th>Sent By</th>
                  <th>Subject</th>
                  <th>Received Time</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="convo in msg.conversationsList | orderBy:'-lastReceivedMsg' track by $index" ng-class="{setColor: convo.hasNewMsg == true}" ng-init="$last && msg.initializeConvoView()" ng-click="msg.viewConvoMessages(convo)">
                  <td>{{convo.$id}}</td>
                  <td>{{convo.has}}</td>
                </tr>
              </tbody>
        </table>

                <my-modal myid='detailsModal'>
                    <h2 ng-model="msg.convo">{{convo}}</h2><br>
                     <ul ng-repeat="mesg in msg.convoMessagesList track by $index" >
                         <li>{{mesg.subject}}</li>
                     </ul>
                     <textarea id="message"></textarea>
                    <button ng-click="msg.sendMessage()"> reply</button>
                </my-modal>
              </div>
       <div>
            <table class="table" ng-show="view" id="msgView">
                  <thead>
                    <tr>
                      <th>asd By</th>
                      <th>Subject</th>
                      <th>Received Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr show-modal modal-to-open="#msgDetailsModal" ng-repeat="mesg in msg.messagesList track by $index" ng-class="{setColor: msg.opened==false}" ng-init="$last && checkIfOpened()" ng-click="msg.viewMessageDetails(mesg)">
                      <td>{{mesg.sender}}</td>
                      <td>{{mesg.subject}}</td>
                      <td></td>
                    </tr>
                  </tbody>
            </table>

             <my-modal myid='msgDetailsModal'>
                 <h2 ng-model="msg.sender">hello</h2><br>
                 <p ng-model="msg.message">{{message}}</p>
                 <textarea id="message"></textarea>
                 <button ng-click="msg.sendMessage()"id="replyButton"> Reply</button>
             </my-modal>
      
        <div class='toast' style='display:none'>You have a new Appointment Request</div>
        <button ng-click="view = !view" ng-class="">switch views</button>
-->

</body>
</html>
