<div layout="row" layout-align="center start">

	<div layout="column" flex="25">
		<!-- Conversation List -->
		<md-content>
			<md-toolbar class="md-primary" >
				<div class="md-toolbar-tools">
					<span class="pc-capitalize">Messages</span>
				</div>
			</md-toolbar>

			<md-list>
				<md-list-item 
					ng-class="{setColor: convo.hasNewMsg === true}" 
					ng-click="msg.viewConvoMessages(convo)" 
					class="md-3-line" 
					ng-repeat="convo in msg.conversationsList | orderBy:'-lastMsg'"
					ng-click="null">
					<div class="md-list-item-text" layout="column">
						<h3 class="pc-capitalize" >{{convo.users.name}}</h3>
					</div>
				</md-list-item>
			</md-list>

			<md-button class="md-raised md-primary" ng-click="msg.openConvoDialog()" style="text-align:center;"> New Message </md-button>

		</md-content>
	</div>

	<md-divider></md-divider>



	<div layout="column" flex>

		<!-- Message List -->
		<div ng-show="msg.convoInfo != undefined">

			<md-toolbar>
				<div class="md-toolbar-tools">
					<span class="pc-capitalize">{{msg.convoInfo.users.name}}</span>
				</div>
			</md-toolbar>
			

			<md-content>
				<md-list flex>
					<md-list-item class="md-3-line" ng-repeat="cv in msg.convoMessages" flex>
						<div class="md-list-item-text">

							<span class="pc-message" ng-class="(cv.sender === msg.userName) ? 'me' : 'them'">
								<h3 class="pc-msg-body">{{cv.body}}</h3>
								<p class="pc-capitalize pc-msg-sender">{{cv.sender === msg.userName ? "Me" : cv.sender}}</p>
							</span>
							<span class="pc-msg-time">{{cv.sentAt | date:'short'}}</span>
							<!--<i ng-click="msg.delete(cv)" ng-class="(cv.sender === msg.userName) ? 'me' : 'them'" class="material-icons">delete</i></h3> -->


						</div>
					</md-list-item>
				</md-list>
			</md-content>

			<div layout="row" layout-align="center top">
				<md-input-container flex="40" layout="column" >
					<textarea id="message" rows="1" placeholder="Message..." flex ng-model="msg.body"></textarea>
				</md-input-container>

				<md-input-container >
					<md-button ng-click="msg.sendReply()" class="md-raised md-primary">Reply</md-button>			
				</md-input-container>
			</div>

		</div>
	</div>
</div>