<div layout="column" layout-align="center center" >
  <form ng-submit="auth.createAccount()" name="pc-create-account">
	   <div class="alert" ng-class="{'alert-success': message, 'alert-danger': error}" role="alert">
		   {{error}}
		   {{message}}
		</div>

		<h3 class="text-center">Create your free account</h3>
		
		<div layout>
			<md-input-container class="md-block">
				<input type="text" required placeholder="First" ng-model="auth.firstName">
			</md-input-container>

			<md-input-container class="md-block">
				<input type="text" required placeholder="Last" ng-model="auth.lastName" >
			</md-input-container>
		</div>

		<md-input-container class="md-block">
			<input type="email" required placeholder="Email Address" ng-model="auth.emailAddress">
		</md-input-container>

		<md-input-container class="md-block">
			 <input type="password" required placeholder="Password" ng-model="auth.password">
		 </md-input-container>

		 <md-input-container class="md-block">
			 <input type="text" required placeholder="phonee number" ng-model="auth.phone">
		 </md-input-container>

		<md-input-container class="md-block">
			<label for="">I am a...</label>
			<md-select ng-model="auth.role">
				<md-option ng-repeat="role in auth.roles" value="{{role}}">{{role}}</md-option>
			</md-select>
		</md-input-container>
		
		<!-- Photo Url -->
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-md>
				<input placeholder="Profile Pictrue (url)" type="url" ng-model="auth.photoUrl">
			</md-input-container>
		</div>

		<md-input-container layout-align="center center" layout>
			<md-button type="submit" class="md-raised md-primary">Create Account</md-button>
		</md-input-container>

	</form>
</div>
