<div layout="column" layout-align="center center">
  <form action="" >
       <div class="alert" ng-class="{'alert-success': message, 'alert-danger': error}" role="alert">
           {{error}}
           {{message}}
        </div>

        <h1 class="text-center">Create your free account</h1>
        
        <div layout>
            <md-input-container layout>
                <input type="text" placeholder="First" ng-model="firstName">
            </md-input-container>

            <md-input-container layout>
                <input type="text" placeholder="Last" ng-model="lastName" >
            </md-input-container>
        </div>

        <md-input-container layout>
            <input type="email" placeholder="Email Address" ng-model="emailAddress">
        </md-input-container>

        <md-input-container layout>
             <input type="password" placeholder="Password" ng-model="password">
         </md-input-container>

         <md-input-container layout>
             <input type="text" placeholder="phone number" ng-model="phone">
         </md-input-container>

        <md-input-container layout>
            <label for="">I am a...</label>
            <md-select ng-model="userType">
                <md-option>Examiner</md-option>
                <md-option>Student</md-option>
                <md-option>Admin</md-option>
            </md-select>
        </md-input-container>

        <md-input-container layout-align="center center">
            <md-button ng-click="auth.createAccount()" class="md-raised md-primary">Create Account</md-button>
        </md-input-container>


    </form>
</div>
