<div class="col-sm-offset-4 col-sm-4">
    
  <form class="form-group" ng-submit="auth.createAccount()" name="pc-create-account">
<!--
	   <div class="alert" ng-class="{'alert-success': message, 'alert-danger': error}" role="alert">
		   {{error}}
		   {{message}}
		</div>
-->

		<h3 class="text-center">Create your free account</h3>
		
        <div class="no-pad col-sm-12">
             <div class="no-pad col-sm-6">
                    <input class="form-control" type="text" required placeholder="First" ng-model="auth.firstName">
             </div>
             
            <div class="no-pad col-sm-6"> 
                <input class="form-control" type="text" required placeholder="Last" ng-model="auth.lastName" >
            </div>
        </div>
      
            <input class="form-control" type="email" required placeholder="Phone Number" ng-model="auth.phone">
            <input class="form-control" type="email" required placeholder="Email Address" ng-model="auth.emailAddress">
            
			<input class="form-control" type="password" required placeholder="Password" ng-model="auth.password">
            
            <label>I am a...</label>
			<select ng-model="auth.role">
				<option ng-repeat="role in auth.roles" value="{{role}}">{{role}}</option>
			</select>
            
            <input class="form-control" placeholder="Profile Pictrue (url)" type="url" ng-model="auth.photoUrl">
            
            <button type="submit" class="md-raised md-primary">Create Account</button>

	
	</form>
    
</div>
