 <div layout="column" layout-align="center center">

 	<div layout="row" layout-padding>
		<h2 class="text-center">Account Login</h2>
	</div>

	<div layout="row">

		<form ng-submit="auth.login()" name="pc-login" class="signin">
			<!-- EMAIL -->
			<md-input-container layout>
				<input placeholder="Email" required type="email" ng-model="auth.emailAddress">
			</md-input-container>

			<!-- PASSWORD -->
			<md-input-container layout>
					<input placeholder="Password" required type="password" ng-model="auth.password">
			</md-input-container>

			<ms-input-container layout>
				<md-button type="submit" class="md-raised md-primary">Login</md-button>
				<md-button ng-click="auth.createAccountPage()" class="md-raised">Create account</md-button>
			</ms-input-container>

			<ms-input-container layout>
				<a ng-click="auth.showPasswordResetModal()">Forgot password?</a>
			</ms-input-container>

		</form>
	</div>
</div>

<script type="text/ng-template" id="passwordResetModal">
   <h1>Password Reset Email</h1>
   	<md-input-container layout>
            <input placeholder="Email" required type="email" ng-model="auth.email">
    </md-input-container>
    <md-button ng-click="auth.sendPasswordResetEmail()">Send</md-button>
    
</script>