<!-- Not Logged In -->
<span ng-show="!isSession">
	<a ng-href="/create-account"><md-button class="md-primary" aria-label="Sign Up">Sign Up</md-button></a>
	<a ng-href="/log-in"><md-button class="md-raised md-primary" aria-label="Log In">log in</md-button></a>
</span>

<!-- Logged In -->
<span ng-show="isSession">
	<md-menu>
		<!-- Trigger element is a md-button with an icon -->
		<md-button 
			ng-click="$mdOpenMenu($event)" 
			class="md-icon-button" 
			aria-label="Open sample menu" 
			style="background-image:url({{currentUser.photoUrl}}); background-size: cover;">
		</md-button>

		<md-menu-content>

			<md-menu-item>
				<a href="../user/profile" class="md-button">My Profile</a>
			</md-menu-item>

			<md-menu-item>	
				<md-button ng-click="logout()">Log out</md-button>
			</md-menu-item>

		</md-menu-content>
	</md-menu>
</span>