/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/screen.scss */
body {
  background-color: #EEE;
}

/* Front Page */
/*
#cr-main-search-box{
    margin-top:20%;
    
    h1{
        margin-bottom:5%;
    }
    
    input{
        margin-bottom:5%;
    }
}

*/
/*HELPER CLASSES*/
/*
.text-white{
    color:white;
}

.navbar{
    @include border-radius(0);
}
*/
/* line 57, ../sass/screen.scss */
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

/* line 66, ../sass/screen.scss */
img.cr-logo,
.cr-logo img {
  width: auto;
  height: auto;
  display: block;
  transform-origin: 0 43%;
  transform: scale(0.4);
}
