/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../sass/screen.scss */
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

/* line 21, ../sass/screen.scss */
img.cr-logo,
.cr-logo img {
  width: auto;
  height: auto;
  display: block;
  transform-origin: 0 43%;
  transform: scale(0.4);
}

/* line 34, ../sass/screen.scss */
.pc-search-box-wrapper h1,
.pc-search-box-wrapper h2,
.pc-search-box-wrapper h3 {
  color: #FFF;
  font-weight: normal;
  text-align: center;
}

/* line 44, ../sass/screen.scss */
.pc-capitalize {
  text-transform: capitalize;
}
