<style>
.hide{
	display: none;
}
.showing{
	display: block;
}
</style>

<div class='toast' style='display:none'>You have a new Appointment Request</div>

<!--

<div layout="column" layout-fill layout-padding>	
	<h2 class="pc-capitalize">{{ev.name}}</h2>
	<div class="calendar" data-ui-calendar="ev.uiConfig.calendar" id="cal"></div>
</div>
-->

<div layout="row" layout-align="center center" >
		<div layout-fill >
			<md-tabs md-dynamic-height md-border-bottom>
			
				<md-tab label="Schedule">
					<div class="md-padding">
                           <h2 class="pc-capitalize">{{ev.name}}</h2>
                           <div class="calendar" data-ui-calendar="ev.uiConfig.calendar" id="cal"></div
					</div>
				</md-tab>
             
                <md-tab label="approved Appointments">
                    <md-list>
                        <md-list-item ng-repeat="apt in ev.approvedAppointments">
                            <div class="md-list-item-text" layout="column">
                                <h3 class="pc-capitalize" >{{apt.title}}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab>
			</md-tabs>
		</div>
	</div>

<script id='warningModal' type="text/ng-template">
    <button ng-click="ev.confirm()">Yes</button>
    <button ng-click="ev.reject()">no</button>

</script>


    <script id="updateEventsModal" type="text/ng-template">
        <button ng-click="ev.updateSingle()">update Just this event</button>
        <button ng-click="ev.updateAll()"> update all events</button>
    </script>

	<script id="addEventModal" type="text/ng-template">

		<div layout-align="center center">

			<md-content flex="100" md-panel>

				<md-toolbar layout-padding>
					<h2>Create Event</h2>
				</md-toolbar>
				
				<div  layout-padding>
					<h4>When:</h4>
					<p>{{ev.eventStartObj.toString()}}</p>
					<p>{{ev.eventEndObj.toString()}}</p>
					
					
					<md-input-container>
						<input type="text" placeholder="enter Your event" ng-model="ev.eventTitle" id="eventInput">
							<md-button class="md-raised md-primary" ng-click="ev.createEvent()">Create</md-button>
					</md-input-container>
                    <md-checkbox ng-model="ev.appointmentSlot">Appointment Slot?</md-checkbox>
					<md-checkbox ng-model="ev.repeatingEvent">Repeating Event?</md-checkbox>

					<div ng-class="{hide: ev.repeatingEvent == false}">
						<label>Frequency</label>
						<md-select ng-model="ev.frequency" placeholder="{{ev.frequency}}"name="frequency">
							<md-option>Daily</md-option>
							<md-option>Weekly</md-option>
							<md-option>Monthly</md-option>
						</md-select><br>

						<md-radio-group ng-model="ev.repeatForm">
							<md-radio-button value="2020/02/01" class="md-primary">Never</md-radio-button>
							<div>
								<label>Occurences</label>
								<md-radio-button value="{{ev.numOccur}}">After</md-radio-button>
								<input ng-model="ev.numOccur" type="number">
							</div>
							   
							<md-radio-button value="{{ev.endDate}}">End Date</md-radio-button>
							<input type="date" ng-model="ev.endDate">
						</md-radio-group>

						<form ng-class="{hide: ev.frequency != 'Weekly'}">
							<label ng-repeat="dow in ev.daysOfWeek">
								<md-checkbox type="checkbox" ng-model="dow.selected">{{dow.day}}</md-checkbox>
							</label>
						</form>
						
						<md-button class="md-raised md-primary" ng-click="ev.createEvent()">Create</md-button>
							
                    </div>
				</div>
			</md-content>
			
		</div>
		
	</script>
		
	<script id="eventDetailsModal" type="text/ng-template">
		<md-toolbar>
			<h1>{{ev.clickedEvent.title}}</h1>
		</md-toolbar>
		<md-content>
			<p>Start: {{ev.clickedEvent.start.toString()}}</p>
			<p>End: {{ev.clickedEvent.end.toString()}}</p>
			<p ng-show="ev.clickedEvent.category">Category: {{ev.clickedEvent.category}}</p>
			<p ng-show="ev.clickedEvent.rating">Rating: {{ev.clickedEvent.rating}}</p>
			<md-button ng-class="{hide:ev.clickedEvent.recur =='monthly'}" class="md-raised md-primary" ng-click="ev.deleteEvent()">Delete Event</md-button>
			<div ng-class="{hide: ev.clickedEvent.recur == 'once'}">
				<md-button class="md-primary md-raised" ng-click="ev.deleteSingleMonthlyEvent()">remove just this event</md-button>
				<md-button class="md-primary md-raised" ng-click="ev.deleteAllMonthlyEvents()">remove all events</md-button>
			</div>
		</md-content>
	</script> 

	<script id="settingsModal" type="text/ng-template" >
		<md-subheader>
			<h3>Settings</h3>
		</md-subheader>
		<div layout-padding>
			<md-input-container>
				<label>Day Start Time</label>
				<input ng-model="ev.calStartTime">
			</md-input-container>

			<md-input-container>
				<label>Day End Time</label>
				<input ng-model="ev.calEndTime">
			</md-input-container>
			
			<md-input-container>
				<label>Gcal Id</label>
				<input ng-model="ev.gcalId">
			</md-input-container>
			
			<md-button class="md-primary md-raised" id="saveButton" ng-click="ev.saveCalSettings()">Save</md-button>
			<md-checkbox id="googleSync">Sync with Google Calendar</md-checkbox>
		</div>
	</script> 

	<script id="pendingRequestsModal" type="text/ng-template">
		<table class="table">
			<thead>
				<tr>
					<th>Student</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Sent at</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="request in ev.requestsList | orderBy:'-sentAt' track by $index">
					<td>{{request.name.first + " " + request.name.last}}</td>
					<td>{{request.start}}</td>
					<td>{{request.end}}</td>
					<td>{{request.sentAt}}</td>
					<td><button ng-click="ev.approveAppointment(request)">Approve</button></td>
				</tr>
			</tbody>
		</table>  
	</script>
	
