<style>
    .hide{
        display: none;
    }
    .showing{
        display: block;
    }
  
</style>

<div class='toast' style='display:none'>You have a new Appointment Request</div>

<!-- layout fills are needed for browser compatability !-->


<div>
    <uib-tabset>
    <uib-tab justified="true"; index="0" heading="Calendar">
        
         <div class="btn-group" uib-dropdown is-open="status.isopen">
              <span id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled">
                <a><i class="fa fa-bars fa-lg hidden-md hidden-lg dropdown-toggle" ></i> </a>
              </span>

              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="ev.changeView('agendaDay')">Day</a></li>
                <li role="menuitem"><a ng-click="ev.changeView('agendaWeek')">Week</a></li>
                <li role="menuitem"><a ng-click="ev.changeView('month')">Month</a></li>
                <li role="menuitem"><a ng-click="ev.getAppointmentRequests()">Pending Requests</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Separated link</a></li>
              </ul>
        </div>

            
        <div class="calendar" data-ui-calendar="ev.uiConfig.calendar" id="cal"></div>
    </uib-tab>
        
    <uib-tab index="1" heading="Approved Appointments">
        
        <ul class="list-group">
            <li ng-repeat="apt in ev.approvedAppointments" class="list-group-item">  
                <h3 class="pc-capitalize" >{{"appointment with " + apt.name}}</h3>
                <h3>{{"Appointment Start: " + apt.start }}</h3>
                <h3>{{"Appointment End: " +apt.end }}</h3>
            </li>
        </ul>
    </uib-tab>
        
    </uib-tabset>
</div>

    <script id='warningModal' type="text/ng-template">
     
        <h4>Are you sure that you would like to adjust your appointment time</h2>
        
        <button ng-click="ev.confirm()">Request new appointment time</button>
        <button ng-click="ev.reject()">Keep the same appointment time</button>

    </script>
   
    <script id="updateEventsModal" type="text/ng-template">
        <button ng-click="ev.updateSingle()">Update Just this event</button>
        <md-divider></md-divider>
        <button ng-click="ev.updateAll()"> Update all events</button>
    </script>

	<script id="addEventModal" type="text/ng-template">

		<div>
			<div class="text-center">

                <h4 class="panel panel-heading" >Create an Event</h4>
				<div>
					<h4>When:</h4>
					<p>{{ev.newEvent.start.toString()}}</p>
					<p>{{ev.newEvent.end.toString()}}</p>
				
				    <input type="text" placeholder="enter Your event" ng-model="ev.newEvent.title" id="eventInput">

                    <div class="checkbox">
                        <input ng-model="ev.newEvent.isAppointmentSlot" type="checkbox">
                        <label>
                            Appointment Slot?
                        </label>
                    </div>
                    
                    <div class="checkbox">
                        <input ng-model="ev.recur.isRepeatingEvent" type="checkbox">
                        <label>
                            Repeating Event?
                        </label>
                    </div>
            
					<div ng-class="{hide:ev.recur.isRepeatingEvent == false}">
                        
						<label>Frequency</label>
						<select ng-model="ev.recur.frequency" placeholder="{{ev.recur.frequency}}"name="frequency">
							<option>Daily</option>
							<option>Weekly</option>
							<option>Monthly</option>
						<select><br>

						<form>
							<input name="endDate" ng-model="ev.recur.end" type='radio' value="2020/02/01">
                            <label>Never</label>
							<div>
                                <input ng-model="ev.recur.end" type="radio" value="{{ev.numOccur}}">
                                <label> After </label>
                                
                                <input ng-model="ev.numOccur"  type="number">
								<label>Occurences</label>
							</div>
                            
							<input name="endDate" ng-model="ev.recur.end"  type="radio" value="{{ev.endDate}}">   
                            <label>End Date</label>
							
							<input name="endDate" type="date" ng-model="ev.endDate">
						</form>

						<form ng-class="{hide: ev.recur.frequency != 'Weekly'}">
							<label ng-repeat="dow in ev.daysOfWeek">
                               <div class="checkbox">
                                    <input type="checkbox" ng-model="dow.selected">
                                    <label for="checkbox1">
                                        {{dow.day}}
                                    </label>
                                </div>
							</label>
						</form>
                    </div>
                    <button class="btn btn-primary" ng-click="ev.createEvent()">Create</button>		
				</div>
            </div>
			
		</div>
		
	</script>
		
	<script id="eventDetailsModal" type="text/ng-template">
		
        <h4 class="panel panel-heading" >{{ev.clickedEvent.title}}</h4>
	
		<div>
			<p>Start: {{ev.clickedEvent.start.toString()}}</p>
			<p>End: {{ev.clickedEvent.end.toString()}}</p>
			<p ng-show="ev.clickedEvent.category">Category: {{ev.clickedEvent.category}}</p>
			<p ng-show="ev.clickedEvent.rating">Rating: {{ev.clickedEvent.rating}}</p>
			<button ng-class="{hide:ev.clickedEvent.recur !='once'}" class="md-raised md-primary" ng-click="ev.deleteEvent()">Delete Event</button>
            
			<div ng-class="{hide: ev.clickedEvent.recur == 'once'}">
				<button class="btn btn-primary" ng-click="ev.deleteSingleRecurEvent()">remove just this event</button>
				<button class="btn btn-primary" ng-click="ev.deleteEventSeries()">remove all events</button>
			</div>
			
		</div>
	</script> 

	<script id="settingsModal" type="text/ng-template" >
		
        <h3>Settings</h3>
        
		<div>
			
            <label>Day Start Time</label>
            <input ng-model="ev.calSettings.startTime">

            <label>Day End Time</label>
            <input ng-model="ev.calSettings.endTime">

            <label>Gcal Id</label>
            <input ng-model="ev.calSettings.gcalId">
			
			
			<button class="btn btn-primary" id="saveButton" ng-click="ev.saveCalSettings()">Save</button>
            <div class="checkbox">
                <input type="checkbox" ng-model="">
                <label>
                    Sync with Google Calendar
                </label>
            </div>
		</div>
	</script> 

	<script id="pendingRequestsModal" type="text/ng-template">
		<table class="table">
			<thead>
				<tr>
					<th>Student</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Sent at</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="request in ev.requestsList | orderBy:'-sentAt' track by $index">
					<td>{{request.name.first + " " + request.name.last}}</td>
					<td>{{request.start}}</td>
					<td>{{request.end}}</td>
					<td>{{request.sentAt}}</td>
					<td><button ng-click="ev.approveAppointment(request)">Approve</button></td>
				</tr>
			</tbody>
		</table>  
	</script>
	
