<div class="header">
  
   <!-- NAVBAR -->
    <nav class="navbar navbar-default">
       
        <div class="container-fluid">
           
            <!-- NAVBAR LEFT -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cr-main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/" class="navbar-brand">{{appName}}</a>
                

            </div>
            
            <!-- NAVBAR RIGHT -->
            <div class="collapse navbar-collapse " id="cr-main-menu">
               
                <!--Search Bar for search results page -->
                <form role="search" ng-controller="searchController" class="navbar-form navbar-left" ng-show="query != '' && query != null">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="Submit" class="btn btn-default">Find Examiners</button>
                    </div>
                </form>
                
                <form action="" class="navbar-form navbar-right">
                   <div class="form-group">
                        <a href='#{{header.signUp.path}}'class="" style="text-transform:capitalize;">Sign-up</a>
                        <a ng-href='#{{header.login.path}}' role="button" type="button" class="btn btn-success btn-md" style="text-transform:capitalize;">{{header.login.name}}</a>
                    </div>
                </form>
                
            </div>
            
        </div>
        
    </nav>
    
</div>